body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#root {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: 1200px;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

.square {
  border: 1px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #e0e0e000;
  padding: 20px;
}
.game-info {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.game,
.game-info {
  box-sizing: border-box;
}
.game-info ol {
  padding-left: 20px;
}

.game-info li {
  margin-bottom: 10px;
}

.game-info button {
  padding: 3px 5px;
  font-size: 12 px;
  background-color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.game-info button:hover {
  background-color: bisque;
}
